/*
Autohide left menu section.
*/
.openerp .oe_leftbar a.oe_logo img { width:50px; height: 100px; transition: 1s ease-in-out 1s;}
.openerp .oe_leftbar:hover a.oe_logo img { width:200px; transition: .25s ease-in-out .5s; }
.openerp .oe_leftbar, .openerp .oe_leftbar > div {width:50px; transition: 1s ease-in-out 1s;}
.openerp .oe_leftbar:hover, .openerp .oe_leftbar:hover > div {width:200px; transition: .25s ease-in-out .5s; }
.openerp .oe_leftbar .oe_secondary_menus_container,
.openerp .oe_leftbar > div > div > div > div.oe_secondary_menus_container
{width:50px; overflow: hidden; transition: 1s ease-in-out 1s;}
.openerp .oe_leftbar:hover .oe_secondary_menus_container
{width:200px; overflow: auto; background-color: initial; transition: .25s ease-in-out .5s;}
.openerp .oe_secondary_submenu .oe_menu_text { overflow:visible; }
.openerp .oe_secondary_menu_section {white-space:nowrap;}
/*
 * End of auto hide left menu.
 */

/*
 *Configuring header
 */

/* Width simulating col-md
 */
.openerp .oe_list_header_one2many_columns  div[class^='header-title'],
.openerp .oe_list_field_one2many_columns  div[class^='header-title'] {float: left; white-space: nowrap; overflow: hidden; padding:3px 6px; line-height: 16px}
.openerp .oe_list_header_one2many_columns .header-title1,
.openerp .oe_list_field_one2many_columns .header-title1 {width: 99%;}
.openerp .oe_list_header_one2many_columns .header-title2,
.openerp .oe_list_field_one2many_columns .header-title2 {width: 24%;}
.openerp .oe_list_header_one2many_columns .header-title3,
.openerp .oe_list_field_one2many_columns .header-title3 {width: 19%;}
.openerp .oe_list_header_one2many_columns .row-title {}
.openerp td.oe_list_field_one2many_columns,
.openerp td.oe_list_field_one2many_columns .row-title,
.openerp td.oe_list_field_one2many_columns  div[class^='po_line_ids_'],
.openerp td.oe_list_field_one2many_columns  div[class^='po_line_ids_'] div {white-space: unset !important;}

/*
.openerp .oe_list_content td, .openerp .oe_list_content th.oe_list_header_one2many_columns {padding:3px 6px; line-height: 16px}
.openerp .oe_list_header_one2many_columns div {margin-bottom: 0px; text-align: center}
.openerp .oe_list_header_one2many_columns .table {margin-bottom: 0px; text-align: center}
.openerp td.oe_list_field_one2many_columns:first-child {border-left: 4px solid}
.openerp td.oe_list_field_one2many_columns .table {margin-bottom: 0px; text-align: center; border-right: 4px solid}
.openerp td.oe_list_field_one2many_columns .table td,
.openerp td.oe_list_field_one2many_columns .table td {text-align: center}
.openerp .oe_list_header_one2many_columns .row-title {margin-bottom: 0px; padding-bottom: 0px}

*/