/*
 *Configuring header
 */

/* Width simulating col-md
 */
.openerp .oe_list_header_one2many_columns  div[class^='header-title'],
.openerp .oe_list_field_one2many_columns  div[class^='header-title'] {float: left; white-space: nowrap; overflow: hidden; font-size: 12px; line-height: 14px}
.openerp .oe_list_header_one2many_columns .header-title5,
.openerp .oe_list_field_one2many_columns .header-title5 {width: 50%;}
.openerp .oe_list_header_one2many_columns .header-title1,
.openerp .oe_list_field_one2many_columns .header-title1 {width: 99%;}
.openerp .oe_list_header_one2many_columns .header-title2,
.openerp .oe_list_field_one2many_columns .header-title2 {width: 24%;}
.openerp .oe_list_header_one2many_columns .header-title3,
.openerp .oe_list_field_one2many_columns .header-title3 {width: 19%; border-right: 1px black solid;}
.openerp .oe_list_header_one2many_columns .row-title {}
.openerp td.oe_list_field_one2many_columns,
.openerp td.oe_list_field_one2many_columns .row-title,
.openerp td.oe_list_field_one2many_columns  div[class^='po_line_ids_'],
.openerp td.oe_list_field_one2many_columns  div[class^='po_line_ids_'] div {white-space: unset !important;}
.openerp td.oe_list_field_one2many_columns .row {border-bottom: 1px dashed black}
.openerp td.oe_list_field_one2many_columns .row-last {border-bottom: none}

/*
.openerp .oe_list_content td, .openerp .oe_list_content th.oe_list_header_one2many_columns {padding:3px 6px; line-height: 16px}
.openerp .oe_list_header_one2many_columns div {margin-bottom: 0px; text-align: center}
.openerp .oe_list_header_one2many_columns .table {margin-bottom: 0px; text-align: center}
.openerp td.oe_list_field_one2many_columns:first-child {border-left: 4px solid}
.openerp td.oe_list_field_one2many_columns .table {margin-bottom: 0px; text-align: center; border-right: 4px solid}
.openerp td.oe_list_field_one2many_columns .table td,
.openerp td.oe_list_field_one2many_columns .table td {text-align: center}
.openerp .oe_list_header_one2many_columns .row-title {margin-bottom: 0px; padding-bottom: 0px}

*/
.front-console .nav-tabs { border-bottom: 2px solid #DDD;  }
.front-console .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0;  }
.front-console .nav-tabs > li > a { border: none; color: #666;  }
.front-console .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent;  }
.front-console .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0);  }
.front-console .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1);  }
.front-console .tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff;  }
.front-console .tab-pane { padding: 15px 0;  }
.front-console .tab-content{padding:20px}
.front-console .card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
.front-console { width: 100%; height: 100%; overflow: scroll; }
