/*
Autohide left menu section.
*/
.openerp .oe_leftbar a.oe_logo img { width:50px; height: 100px; transition: 1s ease-in-out 1s;}
.openerp .oe_leftbar:hover a.oe_logo img { width:200px; transition: .25s ease-in-out .5s; }
.openerp .oe_leftbar, .openerp .oe_leftbar > div {width:50px; transition: 1s ease-in-out 1s;}
.openerp .oe_leftbar:hover, .openerp .oe_leftbar:hover > div {width:200px; transition: .25s ease-in-out .5s; }
.openerp .oe_leftbar .oe_secondary_menus_container,
.openerp .oe_leftbar > div > div > div > div.oe_secondary_menus_container
{width:50px; overflow: hidden; transition: 1s ease-in-out 1s;}
.openerp .oe_leftbar:hover .oe_secondary_menus_container
{width:200px; overflow: auto; background-color: initial; transition: .25s ease-in-out .5s;}
.openerp .oe_secondary_submenu .oe_menu_text { overflow:visible; }
.openerp .oe_secondary_menu_section {white-space:nowrap;}
/******************/
.openerp .oe_list_content > tbody > tr > td.oe_list_field_one2many_columns {white-space: unset !important;}
.openerp .oe_list_content > tbody > tr > td.oe_list_field_one2many_columns .list-group {margin-bottom: 0px}
.openerp .oe_list_content > tbody > tr > td.oe_list_field_one2many_columns .list-group .list-group-item {padding: 3px 3px 2px 2px}
.openerp .oe_list_editable .oe_list_content td.oe_list_field_one2many_columns {padding: 0 0 0 0 !important;}
/*
Sppecial Header
*/
.openerp .oe_list_content td, .openerp .oe_list_content th.oe_list_header_one2many_columns {padding: 0 0 0 0; line-height: 16px}
.openerp .oe_list_header_one2many_columns div {margin-bottom: 0px; text-align: center}